body
{
    background-color: black;
    color: yellow;
   font-family: sans-serif;
   text-align: center;
}
label
{ 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: ;
}

input
{
    color: black;
    background-color: white;
   font-size: 20px;
   font-weight: 16px;
}

button
{
    color: yellow;
    font-size: 15px;
    font-weight: 10px;
}